*.bin
*.hex
*.asm
*.ihx
*.lk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
*.adb
*.cdb
*.omf
.DS_Store

#vscode
.vscode/*

#*.uvoptx
#OutputFiledir & Files
Listings/
Objects/
*.crf
*.d
*.o
*.build_log.htm
*.axf
*.htm
*.lnp
*.dep
*.map
*.bin
*.hex
*.obj
*.OBJ
*.plg
*.bak
*.__i

#Keil Layout File
*.uvguix.*

#DebugConfig
DebugConfig/

#Keil Project screen layout file
#*.uvguix.*
#*.uvgui.*

#JLINK file
*JLinkLog.txt
*JLinkSettings.ini

#temp files
~$*
*.TMP
